/* site.css */
body {
    font-family: sans-serif;
    font-size: 14px;
    margin: 0;
}

label {
    font-weight: bold;
    display: block;
}
.header{
    background-color:#61B7CF;
}

input[type=text], input[type=password], textarea {
    width: 150px;
}

#main {
    background-color: #eee;
}

#footer {
    background-color: #222;
    color: #eee;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.headshot {
    max-width: 50px;
    border: 1px solid #222;
   
}

menu {
     color: black;
}

    menu li {
        display: inline;
        list-style-type: none;
        color: black;
    }

        menu li::after {
            content: " | ";
        }

        menu li:last-of-type::after {
            content: "";
        }



#wrapper {
    margin: 0 0 0 250px;
}
