<div class="parking">
    <div class="parking.header">
        {{PageTitle}}
    </div>
    <div>
        <div class="row">
            <div class="col-md-2">Zoeken: </div>
            <div class="col-md-4">
                <input type="text" [(ngModel)]="listFilter" />
            </div>
        </div>   
        <div class="row">
            <div class="col-md-6">
                <h4>Filterd door: {{listFilter}}</h4>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table" *ngIf='parkings && parkings.length > 0'>
                <thead>
                    <tr>
                        <th>Parkingnaam: </th>
                        <th>Land: </th>
                        <th>Gemeente: </th>
                        <th>Straat: </th>
                        <th>Nummer: </th>
                        <th>Soort: </th>
                        <th>Bezet: </th>
                        <th>Aantal: </th>
                        <th>Vrije plaatsen: </th>
                        <th>Percentage bezet:</th>
                        <th>Google Map</th>
                       
                    </tr>
                </thead>
                <tbody>
                    <tr class="tableparkinginfo" *ngFor="let p of filteredParkings">
                        <td>{{p.parkingNaam}} </td>
                        <td>{{p.landLandNaam}}</td>
                        <td>{{p.gemeenteGemeenteNaam}}</td>
                        <td>{{p.locatieStraat}}</td>
                        <td>{{p.locatieNummer}}</td>
                        <td>{{p.soortSoortNaam}}</td>
                        <td ng-model="bezet">{{p.bezet}}</td>
                        <td ng-model="Totaal">{{p.totaal}}</td>
                        <td>80</td><!--{{ p.totaal - p.bezet }}-->
                        <td> 5 %</td><!--{{(p.bezet / p.totaal)*100}}-->
                        <td>
                            <googleMap [straatNaam]="p.locatieStraat"
                                       [locatienummer]="p.locatieNummer"
                                       [gemeente]="p.gemeenteGemeenteNaam"
                                       [land]="p.landLandNaam"></googleMap>

                            <!--<googleMap [straatNaam]={{p.locatieStraat}}
                                       [locatienummer]={{p.locatieNummer}}
                                       [gemeente]={{p.gemeenteGemeenteNaam}}
                                       [land]={{p.landLandNaam}}></googleMap>-->
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
