
<div class="panel-group">
    <h1>Parkings: </h1>
    <div  *ngFor="let p of parkings" class=" panel-primary parkingsdiv ">
        <div class="parkingNaam">
            {{p.parkingNaam}}
        </div>
        <div class="locatie">
            <h3>Locatie: </h3>

            <div>
                Landnaam:{{p.landLandNaam}}
            </div>
            <div>
               Gemeente: {{p.gemeenteGemeenteNaam}}
            </div>
            <div>
               Straat: {{p.locatieStraat}}
            </div>
            <div>
                Huis Nummer: {{p.locatieNummer}}
            </div>
        </div>
        <div class="soort">
            <h2>
                Soort Parking:                 
            </h2>
            <h4>{{p.soortSoortNaam}}</h4>
        </div>
        <div class="aantal">
            <div class="bezet">
                bezet: {{p.bezet}}
            </div>
            <div class="aantal">
                Totaal aantal voertuigen: {{p.totaal}}
            </div>
        </div>
    </div>
</div>

