@model EindwerkCarParkingCore.Models.ParkingsDetailDTO

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>ParkingsDetailDTO</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ParkingNaam" class="control-label"></label>
                <input asp-for="ParkingNaam" class="form-control" />
                <span asp-validation-for="ParkingNaam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocatieStraat" class="control-label"></label>
                <input asp-for="LocatieStraat" class="form-control" />
                <span asp-validation-for="LocatieStraat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocatieNummer" class="control-label"></label>
                <input asp-for="LocatieNummer" class="form-control" />
                <span asp-validation-for="LocatieNummer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GemeenteGemeenteNaam" class="control-label"></label>
                <input asp-for="GemeenteGemeenteNaam" class="form-control" />
                <span asp-validation-for="GemeenteGemeenteNaam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LandLandNaam" class="control-label"></label>
                <input asp-for="LandLandNaam" class="form-control" />
                <span asp-validation-for="LandLandNaam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BedrijfsNaam" class="control-label"></label>
                <input asp-for="BedrijfsNaam" class="form-control" />
                <span asp-validation-for="BedrijfsNaam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
