
@using EindwerkCarParkingCore.Controllers


@addTagHelper "*, Microsoft.AspNet.Mvc.TagHelpers"
<!DOCTYPE html>
<html>
<head>


    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-inverse header">
        <header class="container">
            <div class="navbar-header">
                <div class="navbar-brand"><i class="glyphicon glyphicon-apple"></i>Parkeerbeheer</div>
                <button class="navbar-toggle" data-toggle="collapse" data-target="#menu">&#9776;</button>  @*teken om bij aanpassen device/Schermgroote een hamburgerteken te krijgen*@
            </div>
            <div id="menu" class="collapse navbar-collapse">  @*om menu uit te laten klappen moet men dit in div steken met naam voor data-target*@
                <ul class="nav navbar-nav">
                    <li> <a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-controller="Home" asp-action="Contact">Contact</a></li>
                    <li><a asp-controller="Home" asp-action="SearchParking">Parking zoeken</a></li>
                    <li><a asp-controller="Home" asp-action="DtoTester">Test</a></li>

                </ul>
            </div>

        </header>
    </div>
    <div id="main" class="container-fluid">
    <div>
        @RenderBody()
    </div>
        </div>
    <div id="footer" class="container-fluid">
    <div>Copyright 2017 Steven Duffoor & Benny Vanderschaeghe</div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    @RenderSection("scripts", false)

</body>
</html>
