@using EindwerkCarParkingLib
@using EindwerkCarParkingCore.Controllers


@addTagHelper "*, Microsoft.AspNet.Mvc.TagHelpers"
<!DOCTYPE html>
<html>
<head>


    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />

</head>
<body>
    <div class="navbar navbar-inverse header">
        <header class="container">
            <div class="navbar-header">
                <div class="navbar-brand">
                    <i class="glyphicon glyphicon-apple"></i>
                     <a asp-controller="Home" asp-action="Index">
                        Parkeerbeheer 
                     </a>
                </div>
                <button class="navbar-toggle" data-toggle="collapse" data-target="#menu">&#9776;</button>  @*teken om bij aanpassen device/Schermgroote een hamburgerteken te krijgen*@
            </div>
            <div id="menu" class="collapse navbar-collapse">  @*om menu uit te laten klappen moet men dit in div steken met naam voor data-target*@
                <ul class="nav navbar-nav" id="menu">
                    <li> <a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-controller="Home" asp-action="Contact">Contact</a></li>
                    <li><a asp-controller="Home" asp-action="Parkings">Parking zoeken</a></li>
                    <li><a asp-controller="Home" asp-action="AddParking">Voeg parking Toe</a></li>
                    <li><a asp-controller="Home" asp-action="DTOTester">Totalen</a></li>
                    <li><a asp-controller="Home" asp-action="TestAngular">Angular</a></li>


                    <li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            @if (User.IsInRole("Admin"))
                            {
                                <a asp-area="" asp-controller="Admin" asp-action="Overzicht">Admin Page</a>
                            }
                        }
                    </li>

                    @if (User.Identity.IsAuthenticated)
                    {
                        <li><a asp-controller="Account" asp-action="Logout">Logout</a></li>

                    }
                    else
                    {
                        <li><a asp-controller="Account" asp-action="Login">Login</a></li>

                    }
                </ul>
            </div>

        </header>
    </div>
    <div id="main" class="container-fluid">
    <div>
        @RenderBody()
    </div>
        </div>
    <div id="footer" class="container-fluid">
        <div>&Copy @DateTime.Now.Year Steven Dufour & Benny Vanderschaeghe</div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    @RenderSection("scripts", false)

</body>
</html>
