@using EindwerkCarParkingCore.Models
@model IEnumerable<ParkingsDetailDTO>

<div class="container">
    <a asp-controller="Home" asp-action="parkings">
        <img src="~/images/Parking-Checker.jpg" class="img-responsive center-block" alt="Zoek Parkings" />
    </a>
</div>
<div class="col-md-8 rondehoekindex">
    <a id="tagmid"></a><p>
        <br><b>Parking-Checker</b> Is een fictieve site voor ons eindwerk voor onze studies die we in<i>Howest Brugge</i> gevolgd hebben. Het eindwerk in opdracht van William. <br> Onze parking-checker zou de gebruiker moeten informeren waar er nog parkeerplaatsen vrij zijn. <br> <br>
        Weergave met  kleuverandering groen = vrij, oranje = bijna volzet, rood volzet. <br>Indien u eigenaar bent van een parkeer-site en u wilt deze graag in onze app aanwezig zien aarzel niet om ons te contacteren.
        <br> Deze staat nog in zijn kinderschoenen en willen we nog verder uitbreiden zodat de gebruiker via ingave adres naar de dichtst bijzijnde parking geleid word.<br>  <br> Dit allemaal voor ons schoolproject <br> <br> Stuur gerust uw bevindingen van deze site naar ons zodat wij als student-hobbyist deze kunnen verbeteren.

        <br><br><br><br>	<br><br>	<img id="imgpos" src="~/Afbeeldingen/Parking-Checker.jpg" alt="Parking-Checker">
        <br>
    </p>
    <br> <br>
</div>

<div class="col-md-3">
    <h4>Laatste 5 toegevoegde Parkings:</h4>
    <ul class="list-group">
        
        @foreach (ParkingsDetailDTO b in Model)
        {
            <li class="list-group-item">
                <b> @b.ParkingNaam </b> <i> @b.GemeenteGemeenteNaam</i>
            </li>

        }

    </ul>
    </div>
<div class="col-md-1"><br>  </div>
