
@using EindwerkCarParkingLib
@model IEnumerable<Parking>

@{
    ViewBag.Title = "Parkings met Vue.Js";
}

<h2>@ViewBag.Title</h2>
<article id="example" class="row">
    <header class="col-md-4">
        <h3>{{ message }}</h3> @*Vue mustache*@
        <nav>
            <ul class="list-group">
                <li v-for="parking in parkings" v-on:click="fetchParkingDetails(parking)" :class="getParkingClass(parking)" style="cursor:pointer">
                    <span class="parkingNaam">{{parking.parkingNaam}}</span>
                    <span class="soortSoortNaam">{{parking.soortSoortNaam}}</span>
                </li>
            </ul>
        </nav>
    </header>
    <article v-if="currentParking" class="col-md-4">
        <h3>Details</h3>
        <div>
            <table cellpadding="8em">
                <tr>
                    <td>Parking:</td>
                    <td class="parkingNaam">{{currentParking.parkingNaam}}</td>
                </tr>
                <tr>
                    <td>Soort:</td>
                    <td class="soortSoortNaam">{{currentParking.soortSoortNaam}}</td>
                </tr>
                <tr>
                    <td>Gemeente:</td>
                    <td class="parkingNaam">{{currentParking.gemeenteGemeenteNaam}}</td>
                </tr>
                <tr>
                    <td>Straat:</td>
                    <td class="soortSoortNaam">{{currentParking.locatieStraat}}</td>
                </tr>
                <tr>
                    <td>Nr:</td>
                    <td class="parkingNaam">{{currentParking.locatieNummer}}</td>
                </tr>
                <tr>
                    <td>Land:</td>
                    <td class="soortSoortNaam">{{currentParking.landLandNaam}}</td>
                </tr>
                <tr>
                    <td>Totaal:</td>
                    <td class="parkingNaam">{{currentParking.totaal}}</td>
                </tr>

            </table>
        </div>
    </article>
</article>


@section scripts{
<script src="~/bower_components/bootstrap-confirmation/bootstrap-confirmation.js"></script>
    <script src="~/Scripts/vue.js"></script>
    <script src="https://unpkg.com/vue"></script>

    <script>
        var apiURL = '/api/'
        new Vue({
            el: '#example',
            data: {
                message: 'Hello World!',
                parkings: null,
                currentParking: null,
            },
            created: function () {
                var self = this;
                this.fetchParkings();

            },
            methods: {
                fetchParkings: function () {
                    self = this;
                    fetch(`${apiURL}Parkings`)
                        .then(res => res.json())
                        .then(function (parkings) {
                            parkings.forEach(function (parking, i) {
                                parking.isActive = false;
                            });
                            self.parkings = parkings;
                            self.message = 'Overview'
                            if (self.parkings.length > 0) {
                                self.fetchParkingDetails(self.parkings[0]);
                            }
                        })
                        .catch(err => console.error('Fout: ' + err));
                },
                fetchParkingDetails: function (parking) {
                    self = this;
                    fetch(`${apiURL}Parkings/${parking.id}`)
                        .then(res => res.json())
                        .then(function (res) {
                            self.currentParking = res;
                            self.parkings.forEach(function (parking, i) { parking.isActive = false; })
                            parking.isActive = true;

                        })
                        .catch(err => console.error('Fout: ' + err));

                    //self.parkings.forEach(function (parking2, i) { parking2.isActive = false; })
                    //parking.isActive = true;
                },
                getParkingClass: function (parking) {
                    if (parking.isActive) return 'list-group-item active';
                    return 'list-group-item';

                },

            }       
        });
    </script>
}

