@using EindwerkCarParkingLib
@using EindwerkCarParkingCore.Models
@model IEnumerable<Parking>

@* DIT IS HOMECONTROLLER VIEW     *@

@section Scripts{
    @*<script src="~/clientapp/dist/runtime.js"></script>*@
    <script src="~/clientapp/dist/main.js"></script>
    <script src="~/clientapp/dist/polyfills.js"></script>
    <script src="~/clientapp/dist/runtime.js"></script>
    <script src="~/clientapp/dist/styles.js"></script>
    <script src="~/clientapp/dist/vendor.js"></script>
    @*<script src="~/clientapp/dist/main.js"></script>*@

    @*de scripts  moeten in volgorde staan*@

}

<meta charset="utf-8">
<h1>Shop Proberen Parkings</h1>
@*<ParkingList></ParkingList>*@
<the-parkings></the-parkings>
<h2>Shop</h2>

