@using EindwerkCarParkingLib
@using EindwerkCarParkingCore.Models
@model IEnumerable<Parking>

@section Scripts{
    @*<script src="~/clientapp/dist/runtime.js"></script>*@
    <script src="~/clientapp/dist/main.js"></script>
    <script src="~/clientapp/dist/polyfills.js"></script>
    <script src="~/clientapp/dist/runtime.js"></script>
    <script src="~/clientapp/dist/styles.js"></script>
    <script src="~/clientapp/dist/vendor.js"></script>
    @*<script src="~/clientapp/dist/main.js"></script>*@


}
<!DOCTYPE html>
<html lang="nl-BE">
<body>
    <h1>Onze Parkings</h1>
    <img src="~/images/Parking-Checker.jpg" class="img-responsive center-block" alt="Zoek Parkings"/>
    <div><the-parkings></the-parkings></div>
</body>
</html>