@using EindwerkCarParkingCore.Models
@model IEnumerable<TotaalDTO>
@{
    Layout = null;
}

<!DOCTYPE html>


<div>
    <ul class="list-group">
        @foreach (TotaalDTO t in Model)
        {
            <li class="list-group-item-info">
                <b>@t.BezetteParkings</b>
                <b>@t.MaxParkings</b>
                <b>@t.Id</b>
                <b>@t.SoortId</b>
            </li>

        }

    </ul>
</div>