@using EindwerkCarParking.Models
@model List<ParkingsDTO>
@RenderBody()
<!DOCTYPE html>
<html>
<head>
    <link href="~/localecode/css/Gemeenschappelijkestijl.css" rel="stylesheet" />
</head>
<body>
    <header class="collapse navbar-fixed-top">
        <menu>
            <ul>
                <li> <a asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-controller="Home" asp-action="Contact">Contact</a></li>

            </ul>
        </menu>
    </header>
    <section>
        <h2>@ViewBag.Title</h2>

    </section>
    <footer>Copyright 2017 Steven Duffoor & Benny Vanderschaeghe</footer>


    <script src="~/Scripts/jquery-3.3.1.min.js"></script>  @*loading JQuery*@
    <link href="~/localecode/css/site.css" rel="stylesheet" />
</body>
</html>
